<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserList</title>
</head>
<body>
<h1>Список пользователей</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LAST_NAME</th>
        <th>EMAIL</th>
    </tr>
    <a th:href="@{/users/new}">Создать пользователя</a>
    <tr th:each="user, rowStat: ${users}">
        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getFirstName}">NAME</td>
        <td th:text="${user.getLastName}">LAST_NAME</td>
        <td th:text="${user.getEmail}">EMAIL</td>
        <td>
            <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
        <td>
            <form th:action="@{/users/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Редактировать"/>
            </form>
        </td>
    </tr>

</table>
</body>
</html>